.admin-h1 {
    position: relative;

    h1 {
        padding-left: 12px;
    }

    .dropdown-icons{
        position:absolute;
        top:14px;
    }
}

.title-list-admin {
    position: relative;

    a {
        padding-left: 12px;
    }

    .dropdown-icons {
        position: absolute;
        top: 3px;
    }
}
