@inject Data.SiteContext db
@inject IOptions<health.Options.ConnectionStringOptions> connection

<div class="footer-nav">
    @foreach (var item in menu)
    {
        i++;
        if (i > 1)
        {
            <span>|</span>
        }
        <NavLink class="item" href="@item.Url">@item.Name</NavLink>
    }
</div>

@code {
    int i = 0;
    List<Models.Menu> menu;
    protected override void OnInitialized()
    {
        Models.Repository.MenuRepository rep = new Models.Repository.MenuRepository(db, connection);
        menu = rep.List();
    }
}
