<div class="loader-container @ClassName">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

@code{
    [Parameter] public string ClassName { get; set; } = string.Empty;
}