<div class="adminmenu">
    <ul>
        <li><a href="/admin/config">Настройки</a></li>
        <li><a href="/admin/menu">Меню</a></li>
        <li><a href="/admin/pages">Страницы</a></li>
        <li><a href="/admin/utils">Утилиты</a></li>
    </ul>
</div>
@code {

}
